include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			.title-row
				.arrow(onclick="window.history.go(-1); return false;")
					+icon("arrow-conner-left","icon")
				.title.title--lg Пицца
			.tag-wrap
				.tag.tag--condition
					.tag-el(data-condition="1")
						.tag-el__name Острое
						.tag-el__icon
							+icon("close","icon")
					.tag-el(data-condition="2")
						.tag-el__name Вегетарианское
						.tag-el__icon
							+icon("close","icon")
					.tag-el(data-condition="3")
						.tag-el__name Фирменные
						.tag-el__icon
							+icon("close","icon")
					.tag-el(data-condition="4")
						.tag-el__name Без лука
						.tag-el__icon
							+icon("close","icon")
			.product-cont
				// TAG type
				//хит = bg:#FFC500 + color:white
				//рекомендуем = bg:#006DD3
				//спец цена = bg:#FF0000
				//новинка = bg:#61D100
				- for (var i=0;i<2;i++)
					+product('item-2.jpg',"1 3")
					+product('item-1.jpg',"2 1")
					+product('item-3.jpg',"3 2")
					+product('item-4.jpg',"4 1")
					+product('item-3.jpg',"")
					+product('item-1.jpg',"")
				.filter-false.hidden К сожалению ничего не нашлось = (
	+footer()
include ./block_html/_script.pug
