include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content.content--clear
		.deliver-map-wrap
			.deliver-map
				//put map her
		.main-cont
			.deliver-info
				.deliver-info-title Доставка и оплата
				.deliver-info-el
					.type--md.type--bold Бесплатная доставка
					.deliver-info-text При заказе от 600 р. по Барнаулу
				.deliver-info-el
					.type--md.type--bold 43 минуты
					.deliver-info-text Среднее время доставки
		.text
			.main-cont
				p Построенная по последнему слову техники пиццерия и прежде всего, люди, команда профессионалов, имеющая за плечами большой опыт, которых можно назвать фанатами своего дела.

				h2 Как заказать и оплатить?
				p Это всеми любимый и простой в приготовлении, как может показаться на первый взгляд продукт, но как говорится «дьявол в деталях».
				p Тесто – наиважнейшая часть. Каждый день мы сами замешиваем тесто, никаких полуфабрикатов и заморозки, только натуральный продукт по классической технологии.
				ul
					li Сыр - основной компонент правильной пиццы, только моцарелла, только лучшие поставщики.
					li Начинка – много и только высшего качества
					li Томатный соус – мы используем натуральный соус.
	+footer()
include ./block_html/_script.pug
