include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		//product-cont
		.main-cont
			.title.title--xl Публичная оферта
			.text
				p Настоящие Условия продажи через интернет-сайт (далее – «Условия») устанавливают существенные условия оказания услуг по изготовлению и реализации продукции общественного питания и других товаров, в т.ч. пищевых продуктов промышленного изготовления, (далее – «Товар»), под товарным знаком #FARШ.
				p Условия являются публичной офертой - предложением о заключении Договора розничной купли-продажи товаров и оказания услуг общественного питания и их доставки Продавцом Покупателю. Покупатель, ознакомившись с настоящими Условиями, присоединяется к ним и выражает свое согласие с ними путем совершения действий, указанных в настоящих Условиях.
				p На сайте предоставлена информация об основных потребительских свойствах Товара, об адресе (месте нахождения) продавца, о месте изготовления товара, о полном фирменном наименовании (наименовании) продавца (изготовителя), о цене и об условиях приобретения товара, о его доставке, о порядке оплаты товара, сроке годности, а также о сроке, в течение которого действует предложение о заключении Договора.
				h2 1. Термины.
				p 1.1. Покупатель – физическое лицо, имеющее намерение заказать или заказывающее Товар на сайте : http://www.farshburger.ru/, использующее услуги общественного питания исключительно для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности и согласившееся на приобретение товаров и оказание услуг общественного питания в соответствии с настоящими Условиями.

				p 1.2. Товар – продукция в соответствии с ассортиментом, представленным на Интернет-сайте Продавца по адресу: http://www.farshburger.ru;
				p 1.3. Заказ – отдельные позиции (позиция) из ассортиментного перечня Товаров, выбранные и заказанные Покупателем на сайте Продавца, либо по телефонам, указанным на Сайте и оформленные на доставку по указанному Покупателем адресу;
				p 1.4. Сайт – интернет-сайт Продавца http://www.farshburger.ru/;
				p 1.5. Служба доставки – сотрудники Продавца либо представители Продавца, осуществляющие доставку Товаров Покупателю.

				h3 2. Общие положения.
				p 2.1. Настоящие Условия, а также информация о Товаре и услугах, представленная на Сайте, являются публичной офертой в смысле статьи 435 и пункта 2 статьи 437 ГК РФ на заключение Договора розничной купли-продажи товаров и услуг.
				p 2.2. К отношениям между Покупателем и Продавцом применяются положения ГК РФ о розничной купле-продаже (§ 2 глава 30 ГК РФ), Закон РФ «О защите прав потребителей» от 07.02.1992 № 2300-I , Правила продажи товаров дистанционным способом, утвержденные Постановлением Правительства РФ № 612 от 27.09.2007, и иные правовые акты, принятые в соответствии с ними.
				p 2.3. Продавец оставляет за собой право вносить изменения в настоящие Условия и публиковать Условия с внесенными изменениями на Сайте.
				p 2.4. Покупатель соглашается с настоящими Условиями, принимает их и присоединяется к условиям настоящего Соглашения следующим образом:
				ul
					li нажатием кнопки «Оформить заказ» на последнем этапе оформления Заказа на Сайте;
					li самостоятельной регистрацией на Сайте;
					li подтверждением заказа по телефону.


+footer()
include ./block_html/_script.pug
