include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			.title-row
				.arrow(onclick="window.history.go(-1); return false;")
					+icon("arrow-conner-left","icon")
				.title.title--xl Акции
			.sale-list
				- for (var i=0;i<4;i++)
					a(href="#").sale-list__el
						.sale-list__el-img(style="background-image:url('img/sale-list-"+(i+1)+".jpg')")
						.sale-list__el-descr
							.sale-list__el-info
								.sale-list__el-title Скидка в день рождения!
								.sale-list__el-date
									+icon("clock","icon")
									span Действует до 21 августа 2020 г
							.sale-list__el-more
								.arrow
									+icon("arrow-conner-right","icon")
	+footer()
include ./block_html/_script.pug
